html
    head
        title A checkbox a day
        meta(name="id" content="#{month.toString()}")
        link(rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
        link(rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker.min.css")
        link(rel="stylesheet" type="text/css" href="/css/style.css")
        script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
        script(type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
        script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.3.0/bootbox.min.js")
        script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.min.js")
        script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/locales/bootstrap-datepicker.fr.min.js")
        script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js")
        script(type="text/javascript" src="/js/global.js")
        script(type="text/javascript" src="/js/util.js")
        script(type="text/javascript" src="/js/item.js")
        script(type="text/javascript" src="/js/month.js")
    body
        nav.navbar.navbar-default
            .container
                .row
                    .col-xs-4.col-xs-offset-2
                        span.navbar-brand A checkbox a day
        .container
            .row
                h1.col-xs-9.text-center #{month.toPrettyString()}
            .row
                .col-xs-4
                    ul#month-events.list-unstyled
                        each day in calendar.getDays()
                            li.day(data-id="#{day.dateString()}")
                                time(datetime="#{day.dateString()}") #{day.datePrettyString()}
                                span.day-text(contenteditable='true') #{day.text()}
                .col-xs-5
                    #error.alert.alert-danger(style={display: 'none'}) Une erreur est survenue
                    ul#items-list.list-unstyled
                        each item in items
                            li
                                include item
                        li#new-item
                            form(method="post")
                                input(type="hidden" name="status" value="active")
                                input(type="hidden" name="type" value="task")
                                input(type="hidden" name="list_type" value="month")
                                input(type="hidden" name="list_id" value="#{month}")
                                .input-group
                                    span.input-group-btn
                                        button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown")
                                            span#new-item-type-selected Tâche
                                            span.caret
                                        ul#new-item-type-list.dropdown-menu
                                            li(style="display:none;")
                                                a(href="#" data-type="task") Tâche
                                            li
                                                a(href="#" data-type="event") Événement
                                            li
                                                a(href="#" data-type="note") Note
                                    input.form-control(type="text" name="name" required="required" maxlength="100")
                                    span.input-group-btn
                                        button.btn(type="submit") Ajouter
                    button#migrate.btn.btn-primary(type="button") Migrer au mois suivant
                .col-xs-3.panel.panel-default
                    .panel-body
                        #calendar
