form(method="post" data-id="#{task.data.id}")
    input(type="hidden" name="status" value="#{task.data.status}")
    input(type="hidden" name="list_type" value="#{task.data.list_type}")
    input(type="hidden" name="list_id" value="#{task.data.list_id}")
    .checkbox
        input(type="checkbox" checked=("#{task.data.status}" == 'done' ? "checked" : undefined))
    span.task-name #{task.data.name}
    span.action-buttons
        a.glyphicon.glyphicon-pencil.edit-item-button(href="#" title="Éditer")
        a.glyphicon.glyphicon-remove.cancel-item-button(href="#" title="Annuler")
        span.dropdown.move-list
            a.dropdown-toggle.glyphicon.glyphicon-arrow-right.move-item-button(href="#" title="Déplacer" data-toggle="dropdown")
            ul.dropdown-menu
                li.dropdown-header Déplacer vers...
                each month in task.getMoveList()
                    li
                        a.move-button(tabindex="-1" href="#" data-destination-type="month" data-destination-id="#{month.toString()}") #{month.toPrettyString()}
        a.glyphicon.glyphicon-asterisk.restore-item-button(href="#" title="Rétablir")
        a.glyphicon.glyphicon-trash.delete-item-button(href="#" title="Supprimer")
    .input-group.edit-item-input
        input.form-control(type="text" name="name" value="#{task.data.name}" required="required")
        span.input-group-btn
            button.btn.btn-primary(type="submit") Modifier
            button.btn.cancel-edit-button(type="button") Annuler
