form(method="post" action="edit")
    input(type="hidden" name="id" value="#{id}")
    input(type="hidden" name="status" value="#{status}")
    .checkbox
        input(type="checkbox" checked=("#{status}" == 'done' ? "checked" : undefined))
    span.task-name #{name}
    span.action-buttons
        a.glyphicon.glyphicon-pencil.edit-item-button(href="#")
        a.glyphicon.glyphicon-remove.cancel-item-button(href="#")
        a.glyphicon.glyphicon-asterisk.restore-item-button(href="#")
        a.glyphicon.glyphicon-trash.delete-item-button(href="#")
    .input-group.edit-item-input
        input.form-control(type="text" name="name" value="#{name}" required="required")
        span.input-group-btn
            button.btn.btn-primary(type="submit") Modifier
            button.btn.cancel-edit-button(type="button") Annuler
